
#pipe_show {
	position: fixed;
	bottom: 0;
	background: #F1EDED;
	padding: 5px;
	border: 1px solid #919191;
	border-bottom: 0px;
	font-size: 12px;
	color: #333;
	font-family: 'Arial', Helvetica, sans-serif;
	cursor: default;
	z-index: 9999;
	line-height: 1;
	outline: 0;
	vertical-align: baseline;
	margin: 0;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	user-select: none;
}

#pipe_chrome_content {
	width: 200px;
}
.pipe_show_right {
	right: 1%;
}

.pipe_show_left {
	left: 1%;
}

/* hide if in print view */
@media print {
      #pipe_show {display:none;}
}



